@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Kitap

@{
}

<div class="text-center">
    <h1 class="display-4">Kitap Detayı</h1>

	<p>Kitap Adı: @Model.KitapAd</p>
	<p>Fiyat: @Model.Fiyat</p>
</div>